<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rodriguezpacojr.winestore">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".admin.CRUDProduct" />
        <activity android:name=".admin.CRUDCustomer" />
        <activity android:name=".admin.CRUDEmployee" />
        <activity android:name=".admin.CRUDRoute" />
        <activity
            android:name=".HomeAdminActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".RoutesOnMapActivity" />
        <activity android:name=".SetIpActivity" />
        <activity android:name=".SplashScreenActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".RoutesActivity"></activity>
    </application>

</manifest>